.header {
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgba(208, 204, 205, 0.8);
  box-shadow: 1px 1px 5px gray;
  z-index: 3;
}

.header .logo {
  width: auto;
  height: 100%;
}
.header .logo a {
  display: inline-block;
  height: 100%;
}
.header .logo a img {
  display: inline-block;
  height: 100%;
}

.header .searchBox {
  width: 40%;
  height: 100%;
}
